<footer class="footer fixed-bottom bg-white border-t border-gray-100">
                <nav class="nav-container">
                  <ul class="nav-list">
                    <li>
                      <button class="nav-button" 
                              routerLink="/start" 
                              routerLinkActive="active"
                              [routerLinkActiveOptions]="{exact: true}">
                        <div class="button-circle"></div>
                        <i class="bi bi-house"></i>
                        <span>HOME</span>
                      </button>
                    </li>
                    <li>
                      <button class="nav-button" 
                              routerLink="/celtiberia" 
                              routerLinkActive="active"
                              [routerLinkActiveOptions]="{exact: true}">
                        <div class="button-circle"></div>
                        <i class="bi bi-map"></i>
                        <span>MAPA</span>
                      </button>
                    </li>
                    <li>
                      <button
                        class="nav-button active"
                        routerLink="/map"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                        title="Realidad aumentada"
                        aria-label="Realidad aumentada">
                        <div class="button-circle"></div>
                        <i class="bi bi-box"></i>
                        <span>AR</span>
                      </button>
                    </li>
                    <li>
                      <button class="nav-button active"
                              routerLink="/personaje"
                              routerLinkActive="active"
                              [routerLinkActiveOptions]="{exact: true}">
                        <span>HISTORIAS</span>
                        <div class="button-circle"></div>
                        <i class="bi bi-book"></i>
                      </button>
                    </li>
                    <!-- <li>
                      <button class="nav-button active"
                              routerLink="/menu"
                              routerLinkActive="active"
                              [routerLinkActiveOptions]="{exact: true}">
                        <span>MENÚ</span>
                        <div class="button-circle"></div>
                        <i class="bi bi-list"></i>
                      </button>
                    </li> -->
                  </ul>
                </nav>
              </footer>