<app-navbar></app-navbar>              

<div class="home-container">
                <!-- Capa de fondo con imagen -->
                <div class="background-layer">
                  <img src="assets/images/Background.png" alt="Fondo">
                </div>
              
                <!-- Capa intermedia con gráfico -->
                <div class="graphic-layer">
                </div>
              
                <!-- Capa superior con contenido -->
                <div class="content-layer">
                  <div class="title-section">
                    <h1 class="desktop-title">Descubre Ar - Anda</h1>
                    <h1 class="mobile-title">Descubre Ar - Anda</h1>
                                
                  </div>
              
                  <div class="actions-section">
                    <button class="btn-primary" (click)="navigateToLogin()">Iniciar Sesión</button>
                    <button class="btn-secondary" (click)="navigateToRegister()">Registrarse</button>
                    <button class="btn btn-outline-warning" (click)="navigateToStart()">Comenzar sin registrarse</button>
                  </div>
                </div>
              </div>