<section class="logo-cabecera">
  <!-- Encabezado -->
  <header class="header px-3 py-3 d-flex justify-content-between align-items-center">
    <img src="assets/images/Logo.png" alt="Logo" class="logo" width="150" height="50">     
  </header>
  <div class="header">
    <h1 class="h1-rutadetalle">Rutas de la Celtiberia:<br class="mobile-br"> 3D</h1>
  </div>
</section>
<div class="map-container">
  <div id="map" class="map"></div>
</div>
<div class="ar-guide">
  <h3>¿Qué puedes descubrir aquí?</h3>
  <table class="ar-table">
    <tr>
      <td><a routerLink="/ar-viewer/5">⚔️ <strong>Gladius hispaniensis</strong></a></td>
      <td>Espada celtibérica de antenas.</td>
    </tr>
    <tr>
      <td><a routerLink="/ar-viewer/2">🏠 <strong>Casa Celtíbera</strong></a></td>
      <td>De planta rectangular, paredes de mampostería y barro y tejado vegetal</td>
    </tr>
    <tr>
      <td><a routerLink="/ar-viewer/4">⚔️ <strong>Casco Celtíbero</strong></a></td>
      <td>Modelo de aire calcídico que se forjaba en hierro en Aratis (c. 200 a.C.).</td>
    </tr>
    <tr>
      <td><a routerLink="/ar-viewer/4">⚔️ <strong>Casco Celtíbero</strong></a></td>
      <td>Modelo de aire calcídico que se forjaba en hierro en Aratis (c. 200 a.C.).</td>
    </tr>
    <tr>
      <td><a routerLink="/ar-viewer/1">🛡️ <strong>Caetra</strong></a></td>
      <td>Escudo pequeño circular usado por los guerreros celtibéricos.</td>
    </tr>
  </table>
  <p class="ar-hint">Toca los marcadores en el mapa o los enlaces para ver estos objetos en realidad aumentada.</p>
</div>
<footer class="footer-main">
  <div class="footer-content">
    <div class="footer-brand">
      <h4>Explora la Celtiberia en Aranda</h4>
        <p>Descubre las rutas celtiberas y los tesoros arqueologicos<p>
    </div>
    <div class="footer-links">
      <a routerLink="/politicas/privacidad">Privacidad</a>
      <a routerLink="/politicas/terminos">Términos</a>
      <a routerLink="/politicas/cookies">Cookies</a>
      <a href="/agradecimientos">Agradecimientos</a>
    </div>
  </div>
  <div class="footer-logos">
    <img src="assets/footer/FOOTER_PST.jpg" alt="Logotipos institucionales" />
  </div>
  <div class="footer-bottom">
    <p>© 2025 Rutas de la Celtiberia. Todos los derechos reservados.</p>
  </div>
</footer>
<app-navigation-footer></app-navigation-footer> 