<div class="map-container">
  <!-- Contenedor para el mapa -->
  <div id="map"></div>

  <!-- Panel de control para las rutas -->
  <div class="routes-control">
    <h3>Explora las Rutas</h3>
    <ul>
      <li>
        <button (click)="loadRoute('valleAranda')" class="btn btn-primary">Ruta: Valle del Aranda</button>
      </li>
      <li>
        <button (click)="loadRoute('aratis')" class="btn btn-success">Ruta: Aratis</button>
      </li>
      <li>
        <button (click)="loadRoute('oseja')" class="btn btn-success">Ruta: Oseja</button>
      </li>
      <li>
        <button (click)="loadRoute('bosqueSagrado')" class="btn btn-warning">Ruta: Bosque Sagrado</button>
      </li>
    </ul>
  </div>
</div>

<!-- Información de la ruta seleccionada -->
<div class="container mt-4" *ngIf="selectedRoute">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ selectedRoute.title }}</h1>
      <h3>Descripción:</h3>
      <p>{{ selectedRoute.description }}</p>
      <h5>Puntos de interés:</h5>
      <ul>
        <li *ngFor="let point of selectedRoute.points">
          <span class="iconify" [attr.data-icon]="point.icon" style="font-size: 1.2em;"></span> {{ point.text }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>Información de la Ruta</h5>
      <ul>
        <li *ngFor="let detail of selectedRoute.details">
          <span class="iconify" [attr.data-icon]="detail.icon" style="font-size: 1.2em;"></span> {{ detail.text }}
        </li>
      </ul>
    </div>
  </div>
</div>