<section class="Natura-Hero">
  <img src="assets/img/celtiberiaHero.jpg" alt="Naturaleza">
  <div class="Natura-Hero-overlay">
  <h1>Naturaleza</h1>
  <p>Descubre la riqueza natural de la Celtiberia.</p>
  </div>
</section>


<section class="zona">
  <h3>🌿 Ruta del valle del Aranda</h3>

  <div class="feature-card">
    <img src="assets/img/sierravirgen.jpg" alt="Sierra de la Virgen">
    <div class="info">
    <h4>Sierra de la Virgen</h4>
    <p><strong>Flora:</strong> Alcornoques, robles, encinas, pinos y frutales.</p>
    <p><strong>Fauna:</strong> Aves de hábitat forestales.</p>
    </div>    
  </div>
  
  <div class="feature-card">
    <img src="assets/img/embalseMaidevera.jpg" alt="Sierra de la Virgen">
    <div class="info">
    <h4>Embalse de Maidevera</h4>
    <p><strong>Ecosistema:</strong> Aves acuáticas y migratorias. Vegetación de ribera (álamos, chopos, sauces).</p>
  </div>
  </div>
  

 <div class="feature-card">
    <img src="assets/img/VegetacionCerro.jpg" alt="Sierra de la Virgen">
    <div class="info">
    <h4>Cerro de Aratis</h4>
    <p><strong>Flora:</strong> Vegetación de cerro mediterráneo. Excelente vista para interpretación ambiental.</p>
  </div>
 </div>
 
 <div class="feature-card">
    <img src="assets/img/paisajeAgricola.jpg" alt="Sierra de la Virgen">
      <div class="info">
        <h4>Paisaje agrícola del valle</h4>
        <p><strong>Cultivos:</strong> Vides, olivos, almendros. <strong>Fauna:</strong> Insectos polinizadores, jilguero, perdiz roja, rapaces.</p>
      </div>
</div>

<div class="feature-card">
    <img src="assets/img/EntornoOseja.jpg" alt="Sierra de la Virgen">
      <div class="info">
      <h4>Entorno natural de Oseja</h4>
      <p><strong>Paisaje:</strong> Gargantas, cursos fluviales y bosques galería. 45 manantiales y bancales biodiversos.</p>
  </div>
</div>
</section>

<section class="zona">
  <h3>🦅 Ruta del valle del Isuela</h3>
  
  <div class="feature-card">
    <img src="assets/img/rioIsuela.jpg" alt="Rio Isuela">
    <div class="info">
    <h4>Río Isuela y sus riberas</h4>
    <p><strong>Hábitat:</strong> Bosques galería con chopos y álamos. Nutrias, martín pescador, mirlo acuático.</p>
    <strong>Observación de aves: </strong><p>Especialmente rapaces y buitres leonados, emblemáticos del valle.</p>
  </div>
  </div>


  <div class="feature-card">
    <img src="assets/img/BuitreLeonado.jpg" alt="Buitre Leonado">
    <div class="info">
    <h4>Calcena y formaciones rocosas</h4>
    <p><strong>Formaciones calizas:</strong> Ideales para escalada. Buitres leonados, halcón peregrino.</p>
    <p><strong>Flora:</strong> Vegetación rupícola. Bosques de carrascas y quejigos en laderas y barrancos.</p>
  </div>
  </div>


  <div class="feature-card">
    <img src="assets/img/Mineria.jpg" alt="Mineria">
    <div class="info">
    <h4>Minas históricas</h4>
    <p><strong>Lugares:</strong> Tierga y Calcena. Biodiversidad regenerada tras minería antigua.</p>
  </div>
  </div>


  <div class="feature-card">
    <img src="assets/img/CuevaMoncayo.jpg" alt="Cueva parque natural del Moncayo">
    <div class="info">
    <h4>Entorno de Purujosa y Parque del Moncayo</h4>
    <p><strong>Ecosistema:</strong> Kárstico. Bosques mixtos, hábitat de murciélagos y fauna cavernícola. Aprovechamiento ganadero de las cuevas, restos de parideras e
      infraestructuras pecuarias.
      </p>
  </div>
  </div>


  <div class="feature-card">
    <img src="assets/img/bosquesagrado.jpg" alt="Bosque sagrado">
    <div class="info">
    <h4>Bosque Sagrado</h4>
    <p><strong>Ubicación:</strong> Entre Beratón y Purujosa. Robledal histórico de gran valor simbólico y natural.</p>
  </div>
  </div>


  <div class="feature-card">
    <img src="assets/img/BosqueRobleEncinas.jpg" alt="Sierra de la Virgen">
    <div class="info">
    <h4>Paisaje de ecos moriscos en Tierga y Trasobares</h4>
    <p>Paisaje antrópico mediterráneo de cultivos de regadío en el valle y terrazas de
      secano en las laderas.</p>
    <p><strong>Vegetación:</strong> Adaptada al clima mediterráneo continental. <strong>Agricultura:</strong> Tradicional, biodiversa.</p>
  </div>
  </div>
</section>


<footer class="footer-main">
  <div class="footer-content">
    <div class="footer-brand">
      <h4>Explora Ar-anda</h4>
      <p>Descubre rutas ancestrales y tesoros arqueologicos<p>
    </div>
    <div class="footer-links">
      <a routerLink="/politicas/privacidad">Privacidad</a>
      <a routerLink="/politicas/terminos">Terminos</a>
      <a routerLink="/politicas/cookies">Cookies</a>
    </div>
  </div>

  <!-- Logos institucionales --> 
  <div class="footer-logos">
    <img src="assets/footer/FOOTER_PST.jpg" alt="Logotipos institucionales" />
  </div>

  <div class="footer-bottom">
    <p>© 2025 Ar-anda. Todos los derechos reservados.</p>
  </div>
</footer>

<app-navigation-footer></app-navigation-footer>