
<div class="container mt-5">
                <h1 class="text-center mb-4">Explora las Rutas por Región</h1>
                <div class="row justify-content-center">
                  <!-- Tarjeta Valle de Aranda -->
                  <div class="col-md-4 mb-3">
                    <div class="card shadow-sm">
                      <img
                        src="assets/thumbnail/Moncayo.jpg"
                        class="card-img-top"
                        alt="Valle de Aranda"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Valle de Aranda</h5>
                        <p class="card-text">
                          Descubre rutas que combinan historia, paisajes y patrimonio.
                        </p>
                        <button
                          class="btn btn-primary w-100"
                          (click)="navigateTo('aranda')"
                        >
                          Explorar
                        </button>
                      </div>
                    </div>
                  </div>
              
                  <!-- Tarjeta Valle de Isuela -->
                  <div class="col-md-4 mb-3">
                    <div class="card shadow-sm">
                      <img
                        src="assets/thumbnail/ValleIsuela.jpg"
                        class="card-img-top"
                        alt="Valle de Isuela"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Valle de Isuela</h5>
                        <p class="card-text">
                          Rutas que atraviesan montañas y ríos en un entorno único.
                        </p>
                        <button
                          class="btn btn-primary w-100"
                          (click)="navigateTo('isuela')"
                        >
                          Explorar
                        </button>
                      </div>
                    </div>
                  </div>
              <!-- Pie de Página -->
              <app-navigation-footer></app-navigation-footer>
