<section class="agradecimientos">
  <h1>Agradecimientos</h1>
  <p>Queremos expresar nuestro más sincero agradecimiento a todas las personas, instituciones y colaboradores que han hecho posible la creación de esta aplicación.</p>
  <ul>
    <li>A la Comarca del Aranda</li>
    <li>Ayuntamientos y entidades locales de la Celtiberia</li>
    <li>Prames s.l</li>
    <li>A Julio Foster, Javier Romero, J.J. Veron, y Javier Hernández por su aporte fotográfico</li>
    <li>Colaboradores en la documentación histórica y cultural</li>
    <li>Equipo de desarrollo y diseño</li>
    <li>Usuarios beta y comunidad</li>
    <li>Y a todos los que han aportado su granito de arena</li>
  </ul>
  <p>¡Gracias por hacer posible este proyecto!</p>
</section>
<app-navigation-footer></app-navigation-footer> 