:host {
                text-align: center;
              
                h1 {
                  color: #6b46c1;
                }
              
                img {
                  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                }
              }
              